@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(147, 177, 187, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 32px;
  gap: 8px;
}

input[name='query'] {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  outline: none;
  background-color: #ffffff;
}

input[name='query']::placeholder {
  color: #808080;
}

input[name='query']:hover {
  border: 1px solid #000;
}

input[name='query']:focus {
  border: 1px solid #4e75ff;
}

.form-button {
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  width: 91px;
  height: 40px;
  box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
  transition: 0.5s;
}

.form-button:hover {
  background-color: #b84fbd;
  transform: translate(0, -3px);
  box-shadow: 0 20px 40px 0 rgb(234, 81, 239);
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
  transition: 0.5s;
}

.load-more:hover {
  background-color: #b84fbd;
  transform: translate(0, -3px);
  box-shadow: 0 20px 40px 0 rgb(234, 81, 239);
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.gallery-item {
  border: 1px solid #808080;
  border-radius: 5px;
  overflow: hidden;
}

.gallery-item:hover {
  border: 1px solid #413b3b;
}

.gallery-link {
  display: inline-flex;
  flex-direction: column;
}

.gallery-link:focus,
.gallery-link:hover {
  .gallery-img {
    transform: scale(1.04);
  }
  .description {
    padding-top: 8px;
    padding-bottom: 0;
    transition: padding 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.gallery-img {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.04);
}

.description {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
  padding: 4px 20px;
}

.description-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  /* border: 3px solid #fff; */
  border-radius: 50%;
  /* display: inline-block; */
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.gallery-item {
  transition: 0.5s;
  box-shadow: 10px 10px 20px 5px rgb(71, 103, 157);
}

.gallery-item:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 40px 0 rgb(234, 81, 239);
}
